body
{
    background: linear-gradient(rgba(31, 29, 29, 0.918), rgba(139, 0, 0, 0.952));
}

button .navbar-toggle .collapsed
{
    margin-right: 6px;
}

.intro
{
    background-size: cover;
    background-position: top center;
    height: 100%;
    width: 100%;
}

.navbar-default
{
    margin: 0;
}

h2
{
    color: rgba(189, 30, 30, 0.81);
}

#logo
{
    width: 81%;
    margin:0 9%;
}
#imgsobre
{
    width: 99%;
    border-radius: 9px 9px 0 0;
}
#img99
{
    width: 99.9%
}

.jumbotron
{
    border-radius: 3px;
}

#certifica
{
    border-radius: 3px 3px 0 0;
    background: whitesmoke;
}

.grupo-radio, .grupo-select
{
    display: inline-block;
    width: 50%;
    vertical-align: top;
}

.grupo-radio .radio:first-child
{
    margin-top: 0%;
}

.enviar
{
    background: darkgreen;
    color:whitesmoke;
    border-radius: 4.5px;
    padding: 9px;
    margin: 6px ;
}

footer
{
    text-align: center;
    color: rgb(173, 44, 44);
    background: rgb(58, 58, 58);
    border-radius: 3px;
}