
html::-webkit-scrollbar
{
    width: 9px;
}

html::-webkit-scrollbar-track
{
    background-color: rgb(0, 0, 0);
}

html::-webkit-scrollbar-thumb
{
    background: #67272D;
    border-radius: 0px;
    height: 3px;
}

html::-webkit-scrollbar-thumb:hover
{
    background:#BC272D
}

/* ____________________________________________________________________max-320-width */
/* Defina a animação */
@keyframes fadeIn {
from { opacity: 0; }
to { opacity: 1; }
}

p, h1, h2, h3{
    animation-name: fadeIn;
    animation-duration: 1.8s;
    animation-fill-mode: forwards;
}
/* Ajuste o atraso para cada elemento com :nth-child */
p:nth-child(1) { animation-delay: 0s; } /* Primeiro elemento sem atraso */
p:nth-child(2) { animation-delay: 0.3s; } /* Segundo elemento com atraso de 0.2s */
/* ... e assim por diante para cada elemento */


address
{
    font-style:normal;
}

header
{
    height: 100%;
    background-image: url(../../elementos/imgs/Logot.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    animation: logoIntro .9s alternate;
    animation-delay: .9s;
}

html,
body
{
    height: 100%;
    margin: 0%;
    background: linear-gradient(to right, #BC272D 18%, #67272D);
    font-size: 13pt;
}

h2
{
    font-family: 'Prata', serif;
    color: rgba(0, 0, 0, 0.81);
    font-size: 1.8em;
    font-weight:500;
    margin-top: 1%;
}

h3
{
    font-family: 'Prata', serif;
    color: rgba(0, 0, 0, 0.81);
    font-size: 1.5em;
    font-weight:500;
    margin: .9%;
}

main
{
    background: linear-gradient(to right, #BC272D 18%, #67272D);
}

span
{
    color: white;
}

ul
{
    margin: 0%;
}

#nomePrincipal
{
    margin: 0%;
}

.nomeprincipal
{
    font-family: 'Prata', serif;
    color: #ad2c2c;
    font-size: 1.8em;
}
.nomeprincipal i small
{
    font-family: 'Prata', serif;
    color: #ad2c2c;
}


/* __________________________________________________________________________________menu */
.menu
{
    display: inline-block;
    position: relative;
}

.menuContent
{
    display: none;
    padding: 0%;
}

.menuContent > li
{
    margin: 15%;
}

.menu:hover .menuContent
{
    display: block;
}



/* __________________________________________________________________________________banner */
.banner369
{
    color: whitesmoke;
    background-color: #80808027;
    padding: 9px;
    padding-bottom: 0px;
    width: 69%;
    height: 18vh;
    position: absolute;
    top: 84%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9em;
}

.btn369
{
    background: linear-gradient(to right, rgba(177, 15, 15, 0.952), rgba(122, 40, 40, 0.952));
    height: 36px;
}

.btn369 a
{
    text-decoration: none;
}

#nomeford
{
    display: inline-block;
    float: right;
    margin: 5.4%;
}

/* _________________________________________________________________________________sobre */
.title
{
    font-family: 'Prata', serif;
    color: rgba(0, 0, 0, 0.81);
    font-size: 1.38em;
    font-weight:500;
}

.sobre{
    margin-bottom: 9%;
}

.sobre > div{
    color: black;
    background-color: #ffffff;
    padding: 3%;
    margin: 1.5%;
}

/* __________________________________________________________________________poster */
.poster
{
    background-color: #ffffff;
    padding: 6%;
    font-size: 1.41em;
    text-align: center;
}

.poster > img {
    width: 100%;
}

/* __________________________________________________________________________cards */
.cardExpand
{
    margin: 3% 0%;
    width: 99%;
}

.cardExpand-heading
{
    background: linear-gradient(to right,rgba(0, 0, 0, 0.884) 1%, #67272d26 90% );
    padding: .9%;
    width: 99%;
}

.title
{
    color: white;
}

.cardExpand-body
{
    padding: 3%;
    background-color: #ffffff;
    display: none;
    position: absolute;
    right: .9%;
    width: 90%;
}

.cardExpand:hover .cardExpand-body
{
    display: inline-block;
}
/* ___________________________________________________________________________________ */

.cardDuro
{
    margin: 3% auto;
    background-color: #ffffff;
    width: 81%;
    padding: .3%;
    box-shadow: rgba(0, 0, 0, 0.527) 6px 6px 4.5px;
}

.cardDuro-body
{
    padding: 3%;
}

/*_________________________________________________________________________________Outros */


.img99
{
    width:100%;
    height: 48%
}
#servico{
    color: #ffffff;
    text-align: center;
    padding: 9%;
}
#servico > h2{
    color: #ffffff;
}

.download{
    width: 40%;
    margin: 1%;
}

/* __________________________________________________________________________________Material */
.material{
    padding: 3%;
    background-color: #ffffff;
    width: 90%;
    left: -30%;
    margin-bottom: 6%;
}



/* __________________________________________________________________________________Rodape */

.links
{
    display: block;
    width: 300px;
    margin: 0% auto;
    position: absolute;
}

.links a img
{
    display: inline;
    margin: 1.2% .3%;
    border-radius: 50%;
    width: 90px;
}

footer
{
    text-align: center;
    color: #ad2c2c;
    background: rgb(0, 0, 0);
    padding: 1.5%;
    margin-top: 39%;
}

a:link
{
    color: whitesmoke;
    text-decoration: none;
}
a:visited
{color: whitesmoke;}

@keyframes logoIntro
{
    0%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.9)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    10%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.81)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    20%{
        background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.72)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    30%{
        background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.63)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    40%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.54)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}
        
    50%{
        background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.36)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    60%{
        background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.27)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    70%{
        background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.18)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    80%{
        background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.09)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    90%{
        background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}
        
    100%{
            background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.09)), url(../../elementos/imgs/Logot.png);
            height: 100%;
            background-size: 90%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;;}
}

/*____________________________________________________________________________Outras telas */

@media (min-width: 630px)
{
    header
    {
        height: 100%;
        background-size: 50.4%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        background-image: url(../../elementos/imgs/Logot.png);
        animation: logoIntro .9s alternate;
        animation-delay: .9s;
    }

    nav
    {
        max-width: 300px;
    }

    @keyframes logoIntro
{
    0%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.9)), url(../../elementos/imgs/Logot.png);
        background-size: 54%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    10%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.81)), url(../../elementos/imgs/Logot.png);
        background-size: 54%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    20%{
        background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.72)), url(../../elementos/imgs/Logot.png);
        background-size: 54%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    30%{
        background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.63)), url(../../elementos/imgs/Logot.png);
        background-size: 54%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    40%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.54)), url(../../elementos/imgs/Logot.png);
        background-size: 54%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}
        
    50%{
            background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.36)), url(../../elementos/imgs/Logot.png);
            background-size: 54%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;}

    60%{
        background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.27)), url(../../elementos/imgs/Logot.png);
        background-size: 57%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    70%{
        background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.18)), url(../../elementos/imgs/Logot.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    80%{
        background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.09)), url(../../elementos/imgs/Logot.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    90%{
        background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 57%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}
        
    100%{
            background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.09)), url(../../elementos/imgs/Logot.png);
            height: 100%;
            background-size: 54%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;}
}

/*___________________________________________________________________________________menu*/
    .menu
    {
        width: 45vw;
        padding: 1%;
        position: absolute;
        left: 50%;
    }

    .menu >span
    {
        display: none;
    }

    .menuContent
    {
        display: block;
    }
    .menuContent > li
    {
        padding: 1.08%;
        display: inline-block;
        margin: 1%;
    }

    .menuContent > li:hover
    {
        font-size: 1.17em;
        transition-duration: .6s;
    }



/*__________________________________________________________________________________sobre*/
    .poster{
        display: flex;
    }
    .txt_sobre{
        padding: 3%;
    }
    .txt_sobre > p{
        font-size: 15pt;
        text-align: left;
    }

    /*_______________________________________________________________________________cards*/
    #proserv, #serv
    {
        display: block;
        max-width: 693px;
        margin: 0% auto;
    }

    .cardDuro
    {
        display: inline-block;
        vertical-align: top;
        height: 480px;
        width: 270px;
        margin: 1% auto;
    }

    .cardExpand-body
{
    padding: 3%;
    background-color: #ffffff;
    display: none;
    position: absolute;
    width: 27%;
}

    /*_______________________________________________________________________________rodape*/
    footer{
    margin-top: 15%;
    }

    .links
    {
        display: block;
        width: 540px;
        margin: 0% auto;
    }

    .links a img:hover
    {
        width: 96px;
    }

    .links a img
    {
        margin: 1.8% 7.2%;
        border-radius: 50%;
        width: 90px;
    }

}


@media (min-width: 999px)
{
    header
    {
        height: 100%;
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;
        background-image: url(../../elementos/imgs/Logot.png);
        animation: logoIntro .9s alternate;
        animation-delay: .9s;
    }

    nav
    {
        max-width: 300px;
    }

    section
    {
        max-width: 1008px;
        margin: auto;
    }

    @keyframes logoIntro
{
    0%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.9)), url(../../elementos/imgs/Logot.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    10%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.81)), url(../../elementos/imgs/Logot.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    20%{
        background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.72)), url(../../elementos/imgs/Logot.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    30%{
        background: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.63)), url(../../elementos/imgs/Logot.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    40%{
        background: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0.54)), url(../../elementos/imgs/Logot.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}
        
    50%{
            background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.36)), url(../../elementos/imgs/Logot.png);
            background-size: 36%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;}

    60%{
        background: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.27)), url(../../elementos/imgs/Logot.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    70%{
        background: linear-gradient(rgba(0, 0, 0, 0.72), rgba(0, 0, 0, 0.18)), url(../../elementos/imgs/Logot.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    80%{
        background: linear-gradient(rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.09)), url(../../elementos/imgs/Logot.png);
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}

    90%{
        background: linear-gradient(rgba(0, 0, 0, 0.36), rgba(0, 0, 0, 0)), url(../../elementos/imgs/Logot.png);
        height: 100%;
        background-size: 36%;
        background-repeat: no-repeat;
        background-position: center;
        background-color: black;}
        
    100%{
            background: linear-gradient(rgba(0, 0, 0, 0.18), rgba(0, 0, 0, 0.09)), url(../../elementos/imgs/Logot.png);
            height: 100%;
            background-size: 36%;
            background-repeat: no-repeat;
            background-position: center;
            background-color: black;}
}
/*___________________________________________________________________________________menu*/
.menu
{
    width: 270px;
    padding: 1.5% 0%;
    position:absolute;
    left: 72%;
}

.menu >span
{
    display: none;
}

.menuContent
{
    display: block;
}
.menuContent > li
{
    padding: 1.08%;
    display: inline-block;
    margin: 1%;
}

.menuContent > li:hover
{
    font-size: 1.17em;
    transition-duration: .6s;
}



/*__________________________________________________________________________________sobre*/

    /*_______________________________________________________________________________cards*/
    #proserv, #serv
    {
        display: block;
        max-width: 999px;
        margin-bottom: 6%;
    }

    .cardExpand-body
    {
        padding: 3%;
        background-color: #ffffff;
        display: none;
        position: absolute;
        right: 6%;
        width: 21%;
    }

    .cardDuro
    {
        vertical-align: top;
        height: 480px;
        width: 312px;
        margin: .5% .5%;
    }

    /*_______________________________________________________________________________rodape*/
    .links
    {
        display: inline-block;
        width: 540px;
        margin: 0 21%;
    }

    .links a img
    {
        margin: 1.8% 7.2%;
        border-radius: 50%;
        width: 90px;
    }


}